.btn {
  width: 200px;
  height: 50px;
  border-radius: 15px;
  background-color: $primary-blue;
  color: $primary-light;
  font-size: 18px;
  cursor: pointer;

  &:hover {
    background-color: $primary-orange;
    @include btnHover;
  }

  &:focus {
    outline: none;
  }
}

.btn_large {
  width: 400px;
}

.btn_form {
  background-color: transparent;
  border: 1px solid $primary-orange;
  color: $primary-orange;
  width: 350px;

  &:hover {
    background-color: $primary-orange;
    color: $primary-light;
  }
}
