// Font Imports
@import url("https://fonts.googleapis.com/css?family=Lato&display=swap");

// Color Variables
$primary-blue: #3d4c8d;
$primary-orange: #db5024;
$secondary-blue: lighten($primary-blue, 20);
$secondary-orange: lighten($primary-orange, 20);
$primary-light: #ffffff;

// Transition Mixins
@mixin flash {
  transition: all 0.3s ease-in-out;
}

@mixin smoothChange {
  transition: all 0.8s;
}
