// Imports
@import "config";
@import "nav";
@import "buttons";
@import "aniform";
// @import "form";
@import "media";

// Global -Styles
* {
  margin: 0;
  padding: 0;
}

html,
body {
  font-family: "Lato", sans-serif;
  box-sizing: border-box;
  overflow-x: hidden;
  scroll-behavior: smooth;

  h1 {
    font-size: 30px;
    color: $primary-blue;
  }

  h2 {
    font-size: 20px;
    color: $primary-blue;
    font-weight: 400;
  }

  h3 {
    font-size: 18px;
    color: $primary-orange;
  }

  p {
    font-size: 16px;
    color: $primary-blue;
  }

  ul {
    list-style: none;
  }

  a {
    text-decoration: none;
    color: $primary-blue;
  }
}

header {
  height: 100vh;
  width: 100vw;
  box-sizing: border-box;
  background: url(../img/header_bg.svg) no-repeat center center/cover;
  background-attachment: fixed;

  .hide {
    transform: translateY(-80px);
  }

  #branding {
    position: fixed;
    width: 100%;
    top: 0;
    padding: 20px 10px;
    background-color: $transparent-light;
    z-index: 1;
    @include easeOut;

    img {
      width: 120px;
    }
  }

  section {
    width: 90%;
    height: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;

    h1 {
      margin-bottom: 40px;
    }

    h2 {
      margin-bottom: 15px;
      color: $primary-orange;
    }
  }
}

main {
  box-sizing: border-box;

  .hidden {
    transform: translateX(-100vw);
  }

  .section_show {
    transform: translateX(0);
    @include smoothChange;
  }

  article {
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  #advertisment {
    height: 50vh;
    background-color: $secondary-blue;

    section {
      width: fit-content !important;

      h3 {
        margin-bottom: 30px;
        color: $primary-light;
      }

      p {
        margin-bottom: 10px;
        color: $primary-light;
        text-indent: 10px;
        font-size: 16px;
        font-weight: bold;
      }
    }
  }

  #services {
    height: 100vh;
    background: url(../img/services_bg.svg) no-repeat center center/cover;
    background-attachment: fixed;

    h2 {
      width: 80%;
      margin: 40px auto 20px auto;
    }

    section {
      width: 80%;
      margin: 15px auto;
    }
  }

  #about {
    height: 100vh;

    section {
      width: 80%;
      margin: 15px auto;
      padding: 20px;

      h2 {
        margin-bottom: 10px;
        color: $primary-orange;
      }
    }
  }

  #contact {
    height: 100vh;
    background: url(../img/form_bg.svg) no-repeat center center/cover;
    background-attachment: fixed;

    section {
      width: 80%;
      margin: 10px auto;
      height: 100%;
    }
  }
}

footer {
  box-sizing: border-box;

  article {
    height: 30vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: $secondary-blue;

    section {
      width: 80%;
      margin: 10px auto;

      h3 {
        color: $primary-light;
        text-align: center;
      }

      li {
        padding: 5px;
        border-bottom: 1px solid $primary-light;

        a {
          color: $primary-light;
          font-size: 16px;
          text-transform: uppercase;
          @include easeOut;

          &:hover {
            color: $secondary-orange;
          }
        }
      }
    }
  }
}
