// Imports
@import "config";
@import "nav";

// Global -Styles
* {
  margin: 0;
  padding: 0;
}

html,
body {
  font-family: "Lato", sans-serif;
  width: 98%;
  margin: 10px auto;
  box-sizing: border-box;
  overflow-x: hidden;

  h1 {
    font-size: 28px;
    color: $primary-blue;
  }

  h2 {
    font-size: 20px;
    color: $primary-blue;
    font-weight: 400;
  }

  h3 {
    font-size: 18px;
    color: $primary-orange;
  }

  p {
    font-size: 16px;
    color: $primary-blue;
  }

  ul {
    list-style: none;
  }

  a {
    text-decoration: none;
    color: $primary-blue;
  }
}

header {
  img {
    width: 120px;
  }
}
